/* CSS Document */
.speech-bubble {
  position: absolute;
  width: 80%;
  margin: 0 auto;
  bottom: 50px;
  right: 10px;
  left: 10px;
  min-height: 5%;
  background: rgb(5, 6, 45);
  color: #ffffff;
  font-size: 15px !important;
  border-radius: .4em;
  padding: 20px;
  display: none;
  z-index: 1;
}
body {
  background-color: rgb(5, 6, 45);
}
.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: rgb(5, 6, 45);
  border-bottom: 0;
  border-left: 0;
  margin-left: -50px;
  margin-bottom: -50px;
}
#arjsDebugUIContainer {
  display: none;
}
.a-enter-vr {
  display: none;
}
.addHintBtn {
  z-index: 1;
  width: 100% !important;
}
.arjs {
  text-align: center;
  height: 90vh;
}
@media all and (max-width: 600px) {
  /* CSS rules here for screens lower than 750px */
  .arjs {
    text-align: center;
    height: 80vh;
  }
  .speech-bubble {
    position: absolute;
    width: 80%;
    margin: 0 auto;
    bottom: 50px;
    right: 10px;
    left: 10px;
    min-height: 2%;
    font-size: 10px !important;
    border-radius: .4em;
    padding: 20px;
    display: none;
  }
  .main {
    width: 100%;
  }
  .button-64 {
    font-size: 14px;
  }
  #helpMode {
    width: 1em !important;
    height: 1em !important;
  }
  .centered {
    margin-right: 20px !important;
  }
}
.addHintRows {
  margin: 10px;
}
#levelIllustration {
  position: absolute;
  top: 0%;
  left: 0%;
  color: white;
  font-size: 20px;
  margin-left: 10px;
}
#currentLatLong {
  position: absolute;
  bottom: 0%;
  left: 0%;
  background-color: rgb(5, 6, 45);
  color: white;
  font-size: 10px !important;
}
.clueText {}
.flexContainer {
  display: flex;
}
.inputField {
  flex: 1;
}
.menuItem {
  margin: 5px 0px 5px 0px;
}
.main {
  margin-top: 100px;
  background-color: white;
  padding: 20px;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn {
  color: white !important;
}
a {
  text-decoration: none;
  color: white !important;
}
/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}
.button-64:active, .button-64:hover {
  outline: 0;
}
.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}
.button-64:hover span {
  background: none;
}
.modal-btn {
  border: thin;
  border-color: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  background-color: rgb(5, 6, 45);
  color: white;
}
.modal-input {
  background-color: rgba(5, 6, 45, 0.2);
}
#restartBtn {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 37.5%;
  width: 25% !important;
  display: none;
}
.centered {
  height: 12%;
  justify-content: center;
  position: fixed;
  bottom: 0%;
  display: flex;
  flex-direction: row;
  width: 10%;
  margin: 0px auto;
  right: 0;
  z-index: 1;
}
#helpMode {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  background-color: transparent;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  outline: none;
  z-index: 1;
}