/* CSS Document */
.speech-bubble {
	position: absolute;
	width: 80%;
	margin: 0 auto;
	bottom: 50px;
	right: 10px;
	left: 10px;
    min-height: 5%;
	background: #004431;
	color: #0f4;
	font-size: 15px!important;
    border-radius: .4em;
	padding: 20px;
	display: none;
}

body{
	background-color: #AAFFEB;
	
}
.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top-color: #004431;
	border-bottom: 0;
	border-left: 0;
	margin-left: -50px;
	margin-bottom: -50px;
}

#arjsDebugUIContainer {
    display: none;
}

.a-enter-vr {
	display: none;
}

.addHintBtn{
	z-index: 1;
	width: 100%!important;
}

.arjs{
	text-align: center;
	height: 90vh;
}

@media all and (max-width: 600px) {
/* CSS rules here for screens lower than 750px */
	.arjs{
	text-align: center;
	height: 80vh;
}
	
	.speech-bubble {
	position: absolute;
	width: 80%;
	margin: 0 auto;
	bottom: 50px;
	right: 10px;
	left: 10px;
    min-height: 2%;
	background: #004431;
	color: #0f4;
	font-size: 10px!important;
    border-radius: .4em;
	padding: 20px;
	display: none;
}
	
	.main{
	width: 100%;
}
}

.addHintRows{
	margin: 10px;
}

#levelIllustration{
	position: absolute;
	top: 0%;
	left: 0%;
	background: #000000;
	color: white;
	font-size: 20px;
}

#currentLatLong{
	position: absolute;
	bottom: 0%;
	left: 0%;
	background: #000000;
	color: white;
	font-size: 10px!important;
}

.clueText{
}

.flexContainer {
    display: flex;
}

.inputField {
    flex: 1;
}
.menuItem{
	margin: 5px 0px 5px 0px;
}

.main{
	margin-top: 100px;
	background-color: white;
	padding: 20px;
	width: 500px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}


.btn{
	color: white!important;
}

a{
	text-decoration: none;
	color: white!important;
}